h2{
    padding-left: 5%;
}

.slider{
    height: 44%;
    position: relative;
}

.slider-view{
    width: 49%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
}

.slider-btn{
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 50%;
}