$colorPowerBlue: #B8E3E9;
$colorPowerBlueDark: #92bdc3;
$colorRedViolet: #A50055;
$colorWhite: #F1F1F1;
$colorBlack: #242424;
$colorPinkLight: #FFD3C6;
$colorPink: #FAD6E4;
$colorGreen: #96C461;
$colorOrangeRed: #ee3e03;

$colorDarkGreen: #1D8915;

$colorError :  red;