@use "./globals";
@use './mixins';
@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

#root {
    margin: 0 auto;
    width: 100%;
}

p, a{
    font-size: variables.$fontSize;
}

a{
    text-decoration: none;
}

body{
    background-color: #262626;
    overflow-x: hidden;
}

.mobile {
    width: 480px;
}

.swiper-wrapper{
    display: flex;
}

#icon-user{
    svg{
        height: 50px;
        width: 50px;
    }
}