@use "../../styles/globals";
@use '../../styles/mixins.scss';
@use "../../styles/variables";

p,li{
    color: black;
}

#root{
    background-color: #242424;
}

nav{
    display: flex;
    align-items: center;
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

.cardUser{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    .icon-user{
        margin: 0 auto;
    }
}

#icon-user{
    width: fit-content;
    height: 25%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    svg{
        width: 100% !important;
        height: 100% !important;
    }
}

.contentUser{
    .containerLink{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
    }
    .containerInfoUser{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}

.basicsElements.card{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .listUser{
        height: 50%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }
    div{
        width: 45%;
        height: 30%;
        border-radius: 5px;
        padding: 2px;
        margin: 0 auto;
        background-color: #FFF;
        p{
            color: #242424;
        }
    }
}

.offer-container{
    height: 40%;
    .show-more-button {
        margin-top: 1rem;
        background-color: #007bff;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .show-more-button:hover {
        background-color: #0056b3;
    }
    ul{
        list-style: none;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        column-gap: 32px;
        row-gap: 64px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 20%;
        }
    }
}