@use "../../styles/main.scss";
@use '../../styles/variables.scss' as variables;

.cardUser {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  max-width: 1280px;
  color: #f0f0f0;
}

.contentUser {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: variables.$colorDarkGreen;
      transition: 0.5s ease-in-out;
    }
  }

  span {
    color: #555;
  }
}

.containerInfoUser {
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.basicsElements {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul.listUser {
    list-style-type: none;
    padding: 0;

    li {
      p {
        font-size: 1.1rem;
        color: #e0e0e0;
      }
    }
  }
}

.offer-container {
  h3 {
  }

  ul {
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 18px;
    margin-bottom: 1rem;
  }

  button.show-more-button {
    background-color: #4eaaff;
    border: none;
    border-radius: 0.75rem;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3a8bd8;
    }
  }
}

.user_dashboard {
  background-color: #292929;
  color: #ddd;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    color: #ccc;
  }

  .chartsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      font-size: 1rem;
      font-weight: 600;
      color: #aaa;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .cardUser {
    width: 100%;
  }

  .containerLink {
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;

    a {
      font-size: 14px;
    }
  }

  .containerInfoUser {
    padding: 0;
  }

  .offer-container {
    ul{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .offer-container,
  .user_dashboard {
    padding: 1rem;
  }
}
