@use '../../styles/variables.scss' as variables;

.cardUser {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem auto;
  width: 100%;
  max-width: 1280px;
  color: #f0f0f0;
}

.user-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.content-user {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: variables.$colorDarkGreen;
      transition: 0.5s ease-in-out;
    }
  }

  span {
    color: #555;
  }
}

.container-info-user {
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  form{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.name-select {
  display: flex;
  gap: 1rem;

  input {
    flex: 1;
  }
}

input,
select {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #444;
  background-color: #333;
  color: #f0f0f0;
  font-size: 1rem;

  &:focus {
    border-color: #4eaaff;
    outline: none;
  }

  &::placeholder {
    color: #aaa;
  }
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: #ccc;
}

button[type="submit"] {
  background-color: #4eaaff;
  color: #121212;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #399be0;
  }
}

#email,
#city,
#address,
#preference-select {
  margin-top: 0.5rem;
}

label {
    margin: 2% 0;
}

@media (max-width: 768px) {
    .container-link{
      justify-content: center;
        gap: 2rem;
        padding: 0 1rem;
      a {
          font-size: 14px;
      }

    }
    .contentUser {
        gap: 1rem;
    }

}