@use "../../styles/globals";
@use '../../styles/mixins.scss';
@use "../../styles/variables";

p,li{
    color: black;
}

#root{
    background-color: #242424;
}

nav{
    height: 10vh;
    img{
        height: 100%;
    }
}

.user-face{
    width: fit-content;
    height: 29%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-user{
    margin: 0 auto;
    width: 768px;
    height: 100vh;
    nav{
        display: flex;
        align-items: center;
    }
    #icon-user{
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
}

.content-user{
    height: 61%;
    .container-link{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
    }
    .container-info-user{
        height: 90%;
    }
}

.basics-elements{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    div{
        width: 45%;
        height: 30%;
        border-radius: 5px;
        padding: 2px;
        margin: 0 auto;
        background-color: #FFF;
        p{
            color: #242424;
        }
    }
}