@use "../../styles/globals";
@use '../../styles/mixins.scss';
@use "../../styles/variables";

p,li{
    color: black;
}

#root{
    background-color: #242424;
}

.card-user{
    margin: 0 auto;
    width: 768px;
    height: 100vh;
    nav{
        display: flex;
        align-items: center;
    }
}
