@use "../../styles/globals";
@use '../../styles/mixins.scss';
@use "../../styles/variables";

h2{
    border: 1px solid red;
}



// id
#image-user{
    width: 40%;
    height: 75%;
    border-radius: 100%;
    background-color: #F1F1F1;
    position: relative;
    bottom: 35%;
}

#identy-user{
    width: 50%;
    border-radius: 15px;
    height: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D5D5D5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ul{
        position: relative;
        bottom: 30%;
    }
}

ul{
    list-style: none;
}

#page-user{
    margin-top: 28%;
    height: 62vh;
    background-color: variables.$colorPink;
    position: relative;
}

#params-user{
    height: 30vh;
    padding: 0.5%;
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li{
        height: 25%;
    }
}

#slider-avis{
    width: 60%;
    height: 51%;
    margin: 0 auto;
}