.mapContainer{
    position: absolute;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.searchForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    color: black;
    input, button {
        color: black;
        padding: 0.5rem;
        font-size: 1rem;
        display: flex;
    }

    button{
        background-color: #1D8915;
        border-radius: 10px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
        margin: 0 auto;
        color: white;
        border: none;
        width: 50%;
        &:hover{
            background-color: #1A7D14;
        }
    }
}
.info-window{
    h2{
        color: black !important;
    }
    p{
        color: black !important;
    }
}