@import "../../styles/globals";
@import '../../styles/mixins';
@import "../../styles/variables";

// body{
//     background: linear-gradient(#444444 , #96C461, #444444); 
// }

h1{
    text-align: center;
    font-size: 5em;
    color: $colorWhite;
}

.action{
    max-width: 768px;
    height: 100vh;
    margin: 0 auto;   
}
