<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign Up Confirmation</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center">
        <table width="600" cellpadding="20" cellspacing="0" border="0" style="background-color: #ffffff; border-radius: 8px;">
          <tr>
            <td align="left">
              <h1 style="text-aligh:center;color: #333;">Bienvenue chez Mealmates!</h1>
              <p style="color: #555; font-size: 16px;">
                Merci de votre inscription.
              </p>
            </td>
          </tr>
          <tr>
            <td align="center" style="font-size: 12px; color: #999; border-top: 1px solid #ddd; padding-top: 20px;">
              <img width=48px height=48px src="https://groupe-5.lycee-stvincent.net/assets/logo-mealmates-zP0oNYKY.png" alt="[Logo]" style="max-width: 120px; margin-bottom: 10px;"><br>
              <span>2025 © Mealmates. All rights reserved.</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
