.container-user-chat{
    display: flex;
    align-items: center;
    .user-part{
        display: flex;
        align-items: center;
        margin: 0 1%;
        .list-info{
            list-style: none;
        }
    }
}