@import '../../styles/main.scss';


.landing {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 12.5vh;
        background-color: black;

        border-bottom: 2px solid $colorDarkGreen;
        div {
            display: flex;
            align-items: center;
            width: 50%;

            img {
                height: 80%;
                margin-left: 1%;
            }
            h1 {
                font-size: 3rem;
                margin-left: 1%;
            }
            button {
                font-size: 1.5rem;
                padding: 2% 4%;
                border-radius: 15px;
                border: 2px solid $colorDarkGreen;
                margin-right: 2%;
                font-weight: bold;

                transition: .3s;
            }
            button:hover {
                border: 2px solid white;
            }
            .button-sign-in {
                background-color: $colorDarkGreen;
                color: white;
            }
            .button-log-in {
                background-color: white;
                color: $colorDarkGreen;
            }
        }
        .header-right {
            justify-content: flex-end;
        }
    }
    .top  {
        height: 87.5vh;
        background-image: url('../../assets/landing-background.png') ;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.4); 
        background-blend-mode: darken; 
        h1 {
            font-size: 4rem;
            width: 40%;
            padding: 10% 0 0 3%;
        }
    }
    .bottom {
        height: 100vh;
        background-color: black;
    }
}