@use "../../styles/globals";
@use '../../styles/mixins.scss' as mixins;
@use "../../styles/variables.scss" as variables;


body {
  overflow: hidden;
  .container {
    @include mixins.responsive-container(768px);
    min-height: 87.5vh;
    border: 1px solid variables.$colorError;
  
    ul {
      list-style: none;
    }
  }

  nav,#new-offer{
    margin-bottom: 1%;
  }
  
  .container-pre-offer {
    @include mixins.flex-center(space-around);
    margin-bottom: 1rem;
  
    li {
      height: 12vh;
      @include mixins.flex-center(space-around);
      flex-direction: column;
  
      img {
        height: 50%;
      }
    }
  }
  
  .container-offer {
    @include mixins.flex-center(space-around);
    height: fit-content;
  
    li {
      border: 1px solid variables.$colorPowerBlue;
      color: variables.$colorPowerBlue;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
  
  .container-section {
    height: 68vh;
    overflow: auto;
    overflow: auto;
    .section-item{
      height: 40%;
    }
  }
  .container-section::-webkit-scrollbar {
    width: 8px;
  }
  .container-section::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 2px solid #242424;
  }
  .container-section::-webkit-scrollbar-track {
    background-color: #242424;
    border-radius: 10px;
  }
  .container-section::-webkit-scrollbar-corner {
    background-color: #242424;
  }
}

#new-offer{
  color: #888;
  border: 1px solid white;
}