@use '../../styles/variables.scss';


.single_offer {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1280px;
    font-family: Arial, sans-serif;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__sidebar{
        width: 30%;
        padding: 32px;
        background-color: #2c2c2c;
        border-radius: 12px;
        gap: 34px;
        box-shadow: 0px 5px 8px -4px;
        display: grid;
        flex-direction: column;
        height: 100%;

        p{
            margin: 12px 0;
            color: white;
            font-size: 22px;
        }

        button{
            font-size: 20px;
            border-radius: 16px;
            padding: 16px;
            background-color: variables.$colorDarkGreen;
            cursor: pointer;
        }

        .order{
            cursor: no-drop;
        }
    }

    &__content {
        width: 70%;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__images {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
    }

    &__image {
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #ddd;
    }

    &__details {
        margin-bottom: 2rem;

        p {
            margin: 0.5rem 0;
        }
    }

    &__seller {
        background-color: #f9f9f9;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;

        strong{
            color: #000;
        }

        h2 {
            color: #000;
            margin-top: 0;
        }

        p {
            color: #000;
            margin: 0.3rem 0;
        }
    }

    &__status{

    }
}