@import "./../styles/globals.scss";
@import './../styles/_mixins.scss';
@import "./../styles/_variables.scss";
@import "./../styles/main.scss";


.container{
    width: 768px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
}

.content{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h1{
        color: $colorWhite;
        margin-top: 7%;
    }
}

.action{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid blue;
    form,div{
        width: 70%;
    }
    form{
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        label{
            color: $colorWhite;
        }
        input{
            outline: none;
            color: $colorWhite;
            border: 1px solid $colorWhite;
            background: linear-gradient(0.25turn,#11BC2E,#0B8620);
            border-radius: 5px;
        }
        input::placeholder{
            color: $colorWhite;
        }
        div{
            display: flex;
            flex-direction: column;
        }
    }
}

.otherAction{
    text-align: center;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
}